@import url("fonts/yekan-bakh/stylesheet.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f8;
}

.container {
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    height: 90vh;
    overflow-y: auto;
}

.sidebar {
    background-color: #2d3748;
    color: white;
    width: 25%;
    padding: 20px;
    overflow-y: auto;
}

.sidebar h2 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 10px;
    background-color: #4a5568;
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #2b6cb0;
}

.main {
    flex-grow: 1;
    padding: 40px;
}

.main h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 5px;
}

input[type="file"] {
    margin-bottom: 10px;
}

.btn {
    padding: 10px 20px;
    background-color: #3182ce;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #2b6cb0;
}

#result-section {
    margin-top: 20px;
}

pre {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 4px;
    white-space: pre-wrap;
    font-family: 'Yekan Bakh', 'Segoe UI', Tahoma, Arial, sans-serif;
}


#loading-spinner {
    font-size: 18px;
    color: #3182ce;
    margin-top: 20px;
}

#loading-spinner::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #3182ce;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


.badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.bg-primary {
    background-color: #0d6efd !important;
}

ul#history-list li {
    display: flex; flex-direction: column;
}

ul#history-list li em {
    font-weight: 600;
}
ul#history-list li em em {
    font-size: 0.6em;
}

ul#history-list li span {
    font-size: 0.7em;
}

#result-text {
    max-height: 400px; /* حداکثر ارتفاع */
    overflow-y: auto;  /* فعال‌سازی اسکرول عمودی */
    border: 1px solid #ccc; /* اضافه کردن حاشیه برای جدا کردن */
    padding: 10px; /* فضای داخلی */
    background-color: #f9f9f9; /* رنگ پس‌زمینه */
    direction: rtl;
    position: relative; /* برای موقعیت‌دهی دکمه */
}

.speed-select {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.highlighted {
    font-weight: bold;
    background-color: #dfdfdf;
}

.popup {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.popup textarea {
    padding: 3px;
}

/* استایل پایه برای دکمه‌های آیکن */
.icon-btn {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    display: inline-block;
    /* margin: 5px; */
}

/* آیکن تایید */
.confirm-icon::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 12px;
    border: solid #28a745;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    top: 4px;
    left: 8px;
}

/* آیکن حذف */
.delete-icon::before, .delete-icon::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #dc3545;
    top: 11px;
    left: 4px;
    transform: rotate(45deg);
}

.delete-icon::after {
    transform: rotate(-45deg);
}


.send-btn {
    background-color: #28a745; /* رنگ سبز */
    color: white; /* رنگ متن */
    padding: 5px 10px; /* فضای داخلی */
    border: none; /* بدون حاشیه */
    border-radius: 5px; /* گوشه‌های گرد */
    cursor: pointer; /* تغییر نشانگر ماوس به دکمه */
    position: sticky; /* موقعیت چسبنده */
    top: 10px; /* فاصله از بالا */
    left: 10px; /* فاصله از چپ */
    z-index: 1000; /* بالاتر از سایر عناصر */
    margin-bottom: 10px; /* فاصله پایین برای جلوگیری از همپوشانی با متن */
    float: left;
}



#notifications {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.notification.success {
    background-color: #4CAF50;
}

.notification.error {
    background-color: #f44336;
}

.notification.hide {
    opacity: 0;
}