<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech to Text - Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/wavesurfer-7.8.8.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/editorjs-2.30.6.umd.min.js') }}"></script>
</head>

<body>
    <div class="container">
        <!-- Sidebar for history -->
        <div class="sidebar">
            <h2>History</h2>
            <ul id="history-list">
                {% for transcription in transcriptions %}
                <li
                    onclick="showTranscription('{{ transcription['transcription'].replace("'", "\\'").replace('\n', '\\n') }}')">
                    <em>{{ transcription['filename'] }}<em> [{{ transcription['size'] }}]</em></em>
                    <span>{{ transcription['request_at'] }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Main content -->
        <div class="main">
            <h1>Upload Audio File</h1>
            <p>Choose an audio file to convert to text:</p>

            <!-- File upload form -->
            <form id="upload-form" method="POST" enctype="multipart/form-data">
                <input type="file" id="audio-file" name="audio" accept="audio/*">
                <button type="submit" class="btn">Upload</button>
            </form>

            <button id="playPauseBtn" class="btn">Play / Pause</button>
            <label for="playback-speed">Ratio:</label>
            <select id="playback-speed" class="speed-select">
                <option value="0.5">0.5x</option>
                <option value="1" selected>1x</option>
                <option value="1.5">1.5x</option>
                <option value="2">2x</option>
            </select>

            <div id="waveform" style="padding-top: 10px;"></div>
            
            <!-- Result section -->
            <div id="result-section">
                <!-- <h3>Result:</h3> -->
                <div id="loading-spinner" style="display: none;">Processing...</div>
                <pre id="result-text">متن خروجی...</pre>
            </div>
        </div>
    </div>

    <script>

        let waveform = WaveSurfer.create({
            container: '#waveform',
            waveColor: '#ddd',
            progressColor: '#00f',
            barWidth: 2,
            height: 100,
            responsive: true
        });

        let transcribedLines = [];

        document.getElementById('upload-form').addEventListener('submit', function (event) {
            event.preventDefault();  // Prevent form from submitting traditionally

            const fileInput = document.getElementById('audio-file');
            const formData = new FormData();
            formData.append('audio', fileInput.files[0]);

            // Show loading spinner
            document.getElementById('loading-spinner').style.display = 'block';
            document.getElementById('result-text').textContent = '';
            waveform.empty();

            // Send AJAX request
            fetch('/upload', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('loading-spinner').style.display = 'none';

                    if (data.transcription) {
                        document.getElementById('result-text').innerHTML = parseApiText(data.transcription);

                        // Dynamically add new item to the history list with formatted file size
                        const historyList = document.getElementById('history-list');
                        const newItem = document.createElement('li');

                        // Set the inner HTML of the new item
                        newItem.innerHTML = `
                        <em>${data.filename}<em> [${formatFileSize(data.size)}]</em></em>
                        <span>${data.request_at}</span>
                    `;

                        // Set onclick event to show transcription
                        //newItem.setAttribute('onclick', `showTranscription('${data.transcription}')`);
                        newItem.setAttribute('onclick', `showTranscription('${data.transcription.replace(/'/g, "\\'").replace(/\n/g, '\\n')}')`);

                        // Add the new item to the history list
                        historyList.appendChild(newItem);


                        transcribedLines = extractTimingData(data.transcription);
                        displayAudioPlayer(fileInput.files[0]);
                    } else if (data.error) {
                        document.getElementById('result-text').textContent = data.error;
                    }
                })
                .catch(error => {
                    document.getElementById('loading-spinner').style.display = 'none';
                    document.getElementById('result-text').textContent = 'Error occurred: ' + error;
                });
        });

        function showTranscription(text) {
            //document.getElementById('result-text').textContent = text;
            document.getElementById('result-text').innerHTML = parseApiText(text);//.split('\n').join('<br>');
        }

        function extractTimingData(apiText) {
            return apiText.split('\n').map(line => {
                const match = line.match(/\[(\d+\.\d+)s -> (\d+\.\d+)s\]\s+(.*)/);
                if (match) {
                    return {
                        start: parseFloat(match[1]),
                        end: parseFloat(match[2]),
                        text: match[3].trim()
                    };
                }
            }).filter(Boolean);
        }

        function parseApiText(apiText) {
            return apiText.split('\n').map(line => {
                const textOnly = line.replace(/\[\d+\.\d+s -> \d+\.\d+s\]\s*/, ''); // remove timestamps
                return `<span>${textOnly}</span><br>`;
            }).join('');
        }

        function displayAudioPlayer(audioFile) {
            // نابود کردن waveform قبلی
            if (waveform) {
                waveform.destroy();
            }

            // بازسازی waveform جدید
            waveform = WaveSurfer.create({
                container: '#waveform',
                waveColor: '#ddd',
                progressColor: '#00f',
                barWidth: 2,
                height: 100,
                responsive: true
            });

            const audioUrl = URL.createObjectURL(audioFile);
            waveform.load(audioUrl);

            // تنظیم رویداد play/pause برای دکمه
            document.getElementById('playPauseBtn').onclick = () => {
                const selectedSpeed = parseFloat(document.getElementById('playback-speed').value);
                console.log('selectedSpeed: ' + selectedSpeed);
                waveform.setPlaybackRate(selectedSpeed);

                waveform.playPause();
            };

            waveform.on('audioprocess', () => {
                const currentTime = waveform.getCurrentTime();
                highlightCurrentLine(currentTime);
            });
        }

        function highlightCurrentLine(currentTime) {
            const resultText = document.getElementById('result-text');
            const lines = Array.from(resultText.querySelectorAll('span'));
            lines.forEach((line, index) => {
                const { start, end } = transcribedLines[index] || {};
                if (start <= currentTime && currentTime <= end) {
                    line.classList.add('highlighted');
                    line.scrollIntoView({ behavior: 'smooth', block: 'center' });
                } else {
                    line.classList.remove('highlighted');
                }
            });
        }

        document.getElementById('playback-speed').addEventListener('change', function () {
            console.log('parseFloat: ' + parseFloat(this.value));
            waveform.setPlaybackRate(parseFloat(this.value));
        });

        // Function to format file size
        function formatFileSize(bytes) {
            if (bytes === 0) return '0 Bytes';
            const k = 1024;
            const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
            const i = Math.floor(Math.log(bytes) / Math.log(k));
            return parseFloat((bytes / Math.pow(k, i)).toFixed(2)) + ' ' + sizes[i];
        }

    </script>
</body>

</html>