<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech to Text - Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/wavesurfer-7.8.8.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body>
    <div class="container">
        <!-- Sidebar for history -->
        <div class="sidebar">
            <h2>History</h2>
            <ul id="history-list">
                {% for item in transcriptions %}
                <li onclick="showTranscription('{{ item['id'] }}')">
                    <em>{{ item['filename'] }}<em> [{{ item['size'] }}]</em></em>
                    <span>{{ item['request_at'] }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Main content -->
        <div class="main">
            <h1>Upload Audio File</h1>
            <p>Choose an audio file to transcribe:</p>

            <!-- File upload form -->
            <form id="upload-form" method="POST" enctype="multipart/form-data">
                <input type="file" id="audio-file" name="audio" accept="audio/*">
                <button type="submit" class="btn">Upload</button>
            </form>

            <button id="playPauseBtn" class="btn">Play / Pause</button>
            <label for="playback-speed">Ratio:</label>
            <select id="playback-speed" class="speed-select">
                <option value="0.5">0.5x</option>
                <option value="1" selected>1x</option>
                <option value="1.5">1.5x</option>
                <option value="2">2x</option>
            </select>

            <div id="waveform" style="padding-top: 10px;"></div>

            <!-- Result section -->
            <div id="result-section">
                <!-- <h3>Result:</h3> -->
                <div id="loading-spinner" style="display: none;">Processing...</div>
                <pre id="result-text">
                    <span></span>
                    <!-- <div id="send-button" class="send-btn" style="display: none;">Save</div> -->
                </pre>
            </div>
        </div>

        <!-- popup windows -->
        <div id="edit-popup" class="popup" style="display: none;">
            <textarea id="edit-text" rows="1"></textarea>
            <button id="confirm-edit" class="icon-btn confirm-icon"></button>
            <button id="delete-word" class="icon-btn delete-icon"></button>
        </div>

        <div id="notifications"></div>
    </div>


    <script>

        const transcriptions = {{ transcriptions | tojson }};

        let waveform = WaveSurfer.create({
            container: '#waveform',
            waveColor: '#ddd',
            progressColor: '#00f',
            barWidth: 2,
            height: 100,
            responsive: true
        });

        let currTranscription;

        let transcribedLines = [];

        document.getElementById('upload-form').addEventListener('submit', function (event) {
            event.preventDefault();

            const fileInput = document.getElementById('audio-file');
            const formData = new FormData();
            formData.append('audio', fileInput.files[0]);

            // Show loading spinner
            document.getElementById('loading-spinner').style.display = 'block';
            document.getElementById('result-text').textContent = '';
            waveform.empty();

            // Send AJAX request
            fetch('/upload', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('loading-spinner').style.display = 'none';

                    if (data.transcription) {
                        transcriptions.push(data);
                        currTranscription = data;
                        document.getElementById('result-text').innerHTML = parseApiText(data.transcription);

                        // Dynamically add new item to the history list with formatted file size
                        const historyList = document.getElementById('history-list');
                        const newItem = document.createElement('li');
                        newItem.innerHTML = `
                            <em>${data.filename}<em> [${formatFileSize(data.size)}]</em></em>
                            <span>${data.request_at}</span>
                        `;
                        newItem.setAttribute('onclick', `showTranscription('${data.id}')`);
                        historyList.appendChild(newItem);

                        transcribedLines = extractTimingData(data.transcription);
                        displayAudioPlayer(fileInput.files[0]);
                    } else if (data.error) {
                        document.getElementById('result-text').textContent = data.error;
                    }
                })
                .catch(error => {
                    document.getElementById('loading-spinner').style.display = 'none';
                    document.getElementById('result-text').textContent = 'Error occurred: ' + error;
                });
        });

        function showTranscription(t_id) {
            currTranscription = transcriptions.find(item => item.id == t_id);
            //document.getElementById('result-text').innerHTML = parseApiText(currTranscription.transcription.replace(/'/g, "\\'").replace(/\n/g, '\\n'));
            document.getElementById('result-text').innerHTML = parseApiText(currTranscription.transcription);
            //displayAudioPlayer(null, currTranscription.filename)
        }

        function extractTimingData(apiText) {
            return apiText.split('\n').map(line => {
                const match = line.match(/\[(\d+\.\d+)s -> (\d+\.\d+)s\]\s+(.*)/);
                if (match) {
                    return {
                        start: parseFloat(match[1]),
                        end: parseFloat(match[2]),
                        text: match[3].trim()
                    };
                }
            }).filter(Boolean);
        }

        function parseApiText(text) {
            return text.split('\n').map(line => {
                //const textOnly = line.replace(/\[\d+\.\d+s -> \d+\.\d+s\]\s*/, ''); // remove timestamps
                // return `<span>${textOnly}</span><br>`;
                return `<span>${line}</span><br>`;
            }).join('');
        }

        function displayAudioPlayer(audioFile, filename = '') {
            if (waveform) {
                waveform.destroy();
            }

            waveform = WaveSurfer.create({
                container: '#waveform',
                waveColor: '#ddd',
                progressColor: '#00f',
                barWidth: 2,
                height: 100,
                responsive: true
            });

            let audioUrl = '';
            if(audioFile) {
                audioUrl = URL.createObjectURL(audioFile);
            }
            else {
                audioUrl =  `/audio/${filename}`;
            }
            
            waveform.load(audioUrl);

            // تنظیم رویداد play/pause برای دکمه
            document.getElementById('playPauseBtn').onclick = () => {
                const selectedSpeed = parseFloat(document.getElementById('playback-speed').value);
                waveform.setPlaybackRate(selectedSpeed);

                waveform.playPause();
            };

            waveform.on('audioprocess', () => {
                const currentTime = waveform.getCurrentTime();
                highlightCurrentLine(currentTime);
            });
        }

        function highlightCurrentLine(currentTime) {
            const resultText = document.getElementById('result-text');
            const lines = Array.from(resultText.querySelectorAll('span'));
            lines.forEach((line, index) => {
                const { start, end } = transcribedLines[index] || {};
                if (start <= currentTime && currentTime <= end) {
                    line.classList.add('highlighted');
                    line.scrollIntoView({ behavior: 'smooth', block: 'center' });
                } else {
                    line.classList.remove('highlighted');
                }
            });
        }

        document.getElementById('playback-speed').addEventListener('change', function () {
            console.log('parseFloat: ' + parseFloat(this.value));
            waveform.setPlaybackRate(parseFloat(this.value));
        });

        // Function to format file size
        function formatFileSize(bytes) {
            if (bytes === 0) return '0 Bytes';
            const k = 1024;
            const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
            const i = Math.floor(Math.log(bytes) / Math.log(k));
            return parseFloat((bytes / Math.pow(k, i)).toFixed(2)) + ' ' + sizes[i];
        }

        document.addEventListener('DOMContentLoaded', () => {
            const resultText = document.getElementById("result-text");
            const popup = document.getElementById("edit-popup");
            const editText = document.getElementById("edit-text");
            const confirmEdit = document.getElementById("confirm-edit");
            const deleteWord = document.getElementById("delete-word");

            let selectedText = '';
            let range;

            let contentHasChanges = false;
            let autosaveTimer;

            resultText.addEventListener("mouseup", (event) => {
                const selection = window.getSelection();
                if (selection.rangeCount > 0) {
                    range = selection.getRangeAt(0);
                    selectedText = selection.toString().trim();

                    if (selectedText) {
                        const rect = range.getBoundingClientRect();
                        popup.style.display = "block";
                        popup.style.left = `${rect.left + window.scrollX}px`;
                        popup.style.top = `${rect.bottom + window.scrollY}px`;
                        editText.value = selectedText;

                        editText.select();
                    }
                }
            });

            // click confirm button
            confirmEdit.addEventListener("click", () => {
                let newText = editText.value.trimEnd() + " ";
                if (range) {
                    range.deleteContents();
                    range.insertNode(document.createTextNode(newText));
                    popup.style.display = "none";
                    window.getSelection().removeAllRanges();

                    if (newText.trim() !== selectedText.trim()) {
                        setTimeout(() => {
                            contentHasChanges = true;
                            startAutosaveTimer();
                        }, 100);
                    }
                }
            });

            // press Enter key
            editText.addEventListener("keydown", (e) => {
                if (e.key === "Enter") {
                    if (e.shiftKey) {
                        // insert newline when Shift + Enter pressed
                        e.stopPropagation();
                    } else {
                        e.preventDefault();
                        const newText = editText.value.trimEnd() + " ";
                        if (range) {
                            range.deleteContents();
                            range.insertNode(document.createTextNode(newText));
                            popup.style.display = "none";
                            window.getSelection().removeAllRanges();

                            if (newText.trim() !== selectedText.trim()) {
                                setTimeout(async () => {
                                    contentHasChanges = true;
                                    startAutosaveTimer();
                                }, 100);
                            }
                        }
                    }
                }
            });

            // to delete seleted text from the context
            deleteWord.addEventListener("click", () => {
                if (range) {
                    range.deleteContents();
                    popup.style.display = "none";
                    window.getSelection().removeAllRanges();

                    if (newText.trim() !== selectedText.trim()) {
                        setTimeout(() => {
                            contentHasChanges = true;
                            startAutosaveTimer();
                        }, 100);
                    }
                }
            });

            // close popup then clicking somewhere outsite of the popup window
            document.addEventListener("click", (e) => {
                if (!popup.contains(e.target) && !resultText.contains(e.target)) {
                    popup.style.display = "none";
                }
            });

            async function sendChangesToAPI() {
                const textToSend = document.getElementById("result-text").innerText;
                const data = { id: currTranscription.id, content: textToSend };
                try {
                    const response = await fetch('/autosave', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    });

                    if (response.ok) {
                        const successData = await response.json();
                        showNotification(`${successData.message}`, "success");
                        contentHasChanges = false;
                        
                        //update transactions
                        transcriptions.find(item => item.id == currTranscription.id).transcription = textToSend;

                    } else {
                        const errorData = await response.json();
                        showNotification(`Error saving changes: ${errorData.error}`, "error");
                    }
                } catch (err) {
                    showNotification("Error saving changes! error=" + err, "error");
                }
            }

            function startAutosaveTimer() {
                if (!autosaveTimer) {
                    autosaveTimer = setInterval(async () => {
                        if (contentHasChanges) {
                            await sendChangesToAPI();
                        }
                    }, 10000);
                }
            }
        });
    </script>
</body>

</html>